 :root{
    --p-cyan:hsl(177, 68%, 64%);
    --p-tomato: hsl(12, 94%, 65%);
    --p-orange: hsl(33, 100%, 70%);
    --n-black: hsl(244, 23%, 12%);
    --n-white:hsl(20, 33%, 98%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
    max-width: 100vw;
}
main{
    width: 100%;
    overflow: hidden;
    
}
h1{
    font-size: 3rem;
    letter-spacing: 0.03rem;
}
h2{
    font-size: 2.6rem;
    line-height: 1.5;
}
p{
    font-size: 1rem;
    line-height:1.6 ;
}
button{
    font-size: 1.2rem;
    padding: 0.75em 1em;
    cursor: pointer;
    border-radius: 0.5em;
    border:none;
    font-weight: 500;
    width: 18rem;
}
.wrapper{
    display:flex;
    flex-direction: column;
    gap:2em;
}

.description__wrapper{
    /* position: absolute; */
    margin: 10em auto;
    /* margin-top: 12em; */
    width: 100%;
    max-width: 63em;
}
.description{
    /* position: absolute; */
    width: 100vw;
    max-width: 69rem;
}
.description__image--phone{
    max-width: 13rem;
    z-index: 2;
    position: relative;
    top: -8em;
    right: -25%;
}
.description__image--wrapper{
    position: absolute;
    background-color:var(--n-black); 
    background-image: url(./resources/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
    border-radius: 1.5em;
    width: 100%;
    height: 100%;
    max-height: 37.5em;
    z-index: 1; 
}
.description__background-pattern{
    display: block;
    margin:0 auto;
}

.description__cta{
    background-color: var(--p-tomato);
    color: var(--n-white);
    border-radius: 1.5em;
    padding: 2em 1.5em;
    display:flex;
    flex-direction: column;
    gap: 1.5em;
    z-index:3;
    max-width: 25rem;
    position: relative;
    bottom: -1%;
    max-width: 47rem;
}
.cta__para--price{
    font-size: 4rem;
    font-weight: 700;
}

.cta__para--price::after{
    content: "/ month";
    font-size: 0.35em;
    font-weight: 400;
    position: relative;
    
    bottom: 0.5em;
    left: 0.5em;
}
.cta__button{
    align-self: center;
}
.cta__button--ios{
    color: var(--n-white);
    background-color:var(--n-black);
}
.cta__button--ios::before{
    content: url("./resources/icon-apple.svg");
    margin-right: 0.5em;
}
.cta__button--ios:hover{
    background-color: var(--p-cyan);
}
.cta__button--android{
    color: var(--n-black);
    background-color:var(--n-white);
}
.cta__button--android::before{
    content: url("./resources/icon-android.svg");
    margin-right: 0.5em;
}
.cta__button--ios:hover{
    background-color: var(--p-orange);
}

@media only screen and (min-width:756px){
    .description__image--wrapper{
    position: absolute;
    max-width: 1110px;
    margin: 0 auto;

    }
    .description__cta{
      max-width: 25rem;
      right: -45%;
    bottom: 25%;
    }
    .description__image--phone{
        top: -8em;
        right: -15%;
    }
}





