:root{
    --dark-blue:hsl(219, 43%, 16%);
    --grayish-dark-blue: hsl(218, 20%, 36%);
    --light-grayish-white:hsl(30, 33%, 93%);
    --white:hsl(30, 29%, 97%);
    --purple: hsl(264, 100%, 69%);
    --magenta:hsl(292, 76%, 54%);
    --orange: hsl(31, 100%, 65%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body{
    width: 100vw;
    font-family: 'Epilogue', sans-serif;
}
main{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
h1{
    font-size: 2rem;
}
p{
    font-size: 0.9rem;
    line-height: 1.5;
}
button{
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.85em 0.75em;
    border-radius: 0.5em;
    max-width: 10.1rem;
    cursor: pointer;
    
}
.button--light{
background-color: var(--white);
color:var(--dark-blue);
border-color:var(--dark-blue);
}
.button--dark{
background-color: var(--dark-blue);
color: var(--white);
border-color: var(--white);
font-weight: 600;
}
.wrapper{
    max-width: 90%;
    margin: 0 auto;
}
.header{
    width: 100%;
    margin: 2.5em auto; 
    display: flex;
    justify-content: space-between;
}
.header__logo{
    width: 5.5rem;
}
.hero__wrapper{
    width: 100%;
    margin: 2em auto;
    /* border: 1px solid red; */
}
.hero{
 display: flex;
 flex-direction: column;
 gap:2em
}
.hero__container{
    display: flex;
    flex-direction: column;
    
    
    
}
.hero-info__container{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    max-width: 19rem;
    position: absolute;

   
}

.hero__curved-line{
    width: 8em;
    position: relative;
    top: 0;
    left: 8em;
}
.hero__para, .hero__heading{
    margin-bottom: 1rem;
}
.hero__heading{
    max-width: 18rem;
}
.hero__para{
    max-width: 19rem;
}
.thin{
    display: inline-block;
    font-weight: 100;
    font-size: 2rem;
}
.hero__image{
    width: 100%;
    margin-top: 16em;
}

.stats__container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
gap: 2em;
width: 90%;
margin:0 auto;

}
.stats__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap:0.5em
}
.card__heading{
    font-size: 3rem;
}
.card__description{
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.3em;
}